:root {
    --dark-blue: #163a72;
    --medium-blue: #98add0;
    --light-blue: #67daf9;
    --red: #a20a1c;
    --grey: #c8c8c8;

    --font-family-title: "Alternate regular", sans-serif;
    --font-family-courant: "Soho light", sans-serif;

    --title-xl: clamp(4.375rem, -0.026rem + 13.542vw, 8.438rem);
    --title-l: clamp(1.5rem, 0.552rem + 2.917vw, 2.375rem);

    --text-m: clamp(0.938rem, 0.328rem + 1.875vw, 1.5rem);
    --text-s: clamp(0.813rem, 0.339rem + 1.458vw, 1.25rem);

}

@font-face {
  font-family: "Alternate regular";
  src:
    local("Alternate-Gothic-No3-D-Regular.otf"),
    url("../fonts/Alternate-Gothic-No3-D-Regular.otf") format("opentype"),
    url("../Alternate-Gothic-No3-D-Regular.woff") format("woff"),
    url("../Alternate-Gothic-No3-D-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Soho light";
  src:
    local("SohoGothicPro-Light.otf"),
    url("../fonts/SohoGothicPro-Light.otf") format("opentype"),
    url("../SohoGothicPro-Light.woff") format("woff"),
    url("../SohoGothicPro-Light.woff2") format("woff2");
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

main {
  padding: 10px 10px 50px 10px;
  /* height: 100%; */
  text-align: center;
  position: relative;
}
body {
  height: 100vh;
  display: flex;
  gap: 0;
  flex-direction: column;
}


/* Fonts */

h1, h2 {
  font-family: var(--font-family-title);
  text-transform: uppercase;
  line-height: 1;
}
h3{
  font-family: var(--font-family-courant);
  text-transform: uppercase;
  font-size: var(--text-m);
}

p {
  font-family: var(--font-family-courant);
  line-height: 1.5;
  margin: 1rem;
  font-size: var(--text-m);
}
small {
  font-family: var(--font-family-courant);
  font-size: var(--text-s);
  line-height: 1.5;
  margin: 1rem;

}

main a {
  color: inherit;
  border-bottom: 1px solid var(--dark-blue);
}

.p-area {
  padding: 2%;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  max-width: 75vw;
  margin: 20px auto;
}


.title-xl {
  font-size: var(--title-xl);



}
.title-l {
  font-size: var(--title-l);
}
/* Colors */

 .text-dark-blue {
  color: var(--dark-blue);
 }
 .text-medium-blue {
  color: var(--medium-blue);
 }
 .text-light-blue {
  color: var(--light-blue);
 }
 .text-grey {
  color: var(--grey);
 }
  .text-red {
    color: var(--red);
  }
 .text-white {
  color: #fff;
 }
 .bg-dark-blue {
  background-color: var(--dark-blue);
 }
 .bg-medium-blue {
  background-color: var(--medium-blue);
 }
 .bg-light-blue {
  background-color: var(--light-blue);
 }
 .bg-grey {
  background-color: var(--grey);
 }
  .bg-red {
    background-color: var(--red);
  }
 .bg-white {
  background-color: #fff;
 }

 header {
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 10px;
  z-index: 1000;
  position: fixed;
 }

header a {
  font-family: var(--font-family-title);
  text-transform: uppercase;
  font-size: clamp(0.938rem, 0.057rem + 2.708vw, 1.75rem);
  display: block;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
}

header .btn-main a {
  font-size: clamp(1.125rem, -0.365rem + 4.583vw, 2.5rem)
}

 header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: stretch;
  width: 100%;
  gap: 10px;
  color: #fff;
 }

 header nav ul li {
  flex: 1;

 }



 .btn {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
 }

 .btn-medium-blue {
  background-color: var(--medium-blue);
  color: var(--dark-blue);
 }

 .btn-red {
  background-color: var(--red);
  color: var(--white);
 }
 .btn-main {
  outline: 10px solid white;
 }

 .absolute {
  position: absolute;
  /* z-index: -1; */
 }

 .img-left {
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 25vw;
 }
 .img-right {
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 25vw;
 }

 .img-line {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
 }


 .credits {
  display: grid;
  max-width: 1200px;
   grid-template-columns: repeat(auto-fill, minmax(max(200px, calc((100% - 40px) / 2)), 1fr));
  margin: 40px auto;
  gap: 40px;
 }




 /* @media screen and (max-width: 768px){
  header {
    transform: translate(0, -100%);
  }
 } */
