:root {
    --dark-blue: #163a72;
    --medium-blue: #98add0;
    --light-blue: #67daf9;
    --red: #a20a1c;
    --grey: #c8c8c8;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    --font-family-title: "Alternate regular", sans-serif;
    --font-family-courant: "Soho light", sans-serif;

    --title-xl: 135px;

}

@font-face {
  font-family: "Alternate regular";
  src:
    local("Alternate-Gothic-No3-D-Regular.otf"),
    url("../fonts/Alternate-Gothic-No3-D-Regular.otf") format("opentype"),
    url("../Alternate-Gothic-No3-D-Regular.woff") format("woff"),
    url("../Alternate-Gothic-No3-D-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Soho light";
  src:
    local("SohoGothicPro-Light.otf"),
    url("../fonts/SohoGothicPro-Light.otf") format("opentype"),
    url("../SohoGothicPro-Light.woff") format("woff"),
    url("../SohoGothicPro-Light.woff2") format("woff2");
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

main {
  padding: 10px 10px 50px 10px;
  height: 100%;

}
body {
  height: 100vh;
}


/* Fonts */

h1, h2 {
  font-family: var(--font-family-title);
}

.title-xl {
  font-size: var(--title-xl);
  margin: 0;
  padding: 0;
  line-height: 1;
  text-transform: uppercase;
}
/* Colors */

 .text-dark-blue {
  color: var(--dark-blue);
 }
 .text-medium-blue {
  color: var(--medium-blue);
 }
 .text-light-blue {
  color: var(--light-blue);
 }
 .text-grey {
  color: var(--grey);
 }
  .text-red {
    color: var(--red);
  }
 .text-white {
  color: #fff;
 }
 .bg-dark-blue {
  background-color: var(--dark-blue);
 }
 .bg-medium-blue {
  background-color: var(--medium-blue);
 }
 .bg-light-blue {
  background-color: var(--light-blue);
 }
 .bg-grey {
  background-color: var(--grey);
 }
  .bg-red {
    background-color: var(--red);
  }
 .bg-white {
  background-color: #fff;
 }

 header {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
padding: 10px;
 }

header a {
  font-family: var(--font-family-title);
  text-transform: uppercase;
  /* font-size: 31px; */
  font-size: clamp(1rem, 0.659rem + 1.705vw, 1.938rem);
  display: block;
}

 header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-items: stretch;
  width: 100%;
  gap: 10px;
  color: #fff;
 }

 header nav ul li {
  flex: 1 1 auto;
 }

 .btn {
  border-radius: 2px;
  padding: 10px;
  text-align: center;
 }

 .btn-medium-blue {
  background-color: var(--medium-blue);
  color: var(--dark-blue);
 }

 .btn-red {
  background-color: var(--red);
  color: var(--white);
 }